RaptorCore/Subsys/ObjectModels/Raptor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="RaptorDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
  <!--  
      Global types and attributes definitions:
      - color: to match a CColor
      - coord: to match GL_COORD_VERTEX
      - TextureFunction: to define sampler function for legacy OpenGL
      - TextureUnit: to identify a specific image Unit
  -->
  <xs:complexType name="color">
    <xs:attribute name="r" type="xs:float" />
    <xs:attribute name="g" type="xs:float" />
    <xs:attribute name="b" type="xs:float" />
    <xs:attribute name="a" type="xs:float" />
  </xs:complexType>
  <xs:complexType name="coord">
    <xs:attribute name="x" type="xs:float" />
    <xs:attribute name="y" type="xs:float" />
    <xs:attribute name="z" type="xs:float" />
    <xs:attribute name="h" type="xs:float" />
  </xs:complexType>
  <xs:attribute name="TextureFunction">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="None"/>
        <xs:enumeration value="Opaque"/>
        <xs:enumeration value="Multiply"/>
        <xs:enumeration value="AlphaTransparent"/>
        <xs:enumeration value="ConstantBlended"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="TextureUnit">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Unit0"/>
        <xs:enumeration value="Unit1"/>
        <xs:enumeration value="Unit2"/>
        <xs:enumeration value="Unit3"/>
        <xs:enumeration value="Unit4"/>
        <xs:enumeration value="Unit5"/>
        <xs:enumeration value="Unit6"/>
        <xs:enumeration value="Unit7"/>
        <xs:enumeration value="Unit8"/>
        <xs:enumeration value="Unit9"/>
        <xs:enumeration value="Unit10"/>
        <xs:enumeration value="Unit11"/>
        <xs:enumeration value="Unit12"/>
        <xs:enumeration value="Unit13"/>
        <xs:enumeration value="Unit14"/>
        <xs:enumeration value="Unit15"/>
        <xs:enumeration value="diffuse"/>
        <xs:enumeration value="normal"/>
        <xs:enumeration value="light"/>
        <xs:enumeration value="environment"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  
  <!-- 
    Raptor objects definitions:
    - Rendering: to reference object handles.
    - Object3D: the base renderable object
    - TextureObject: an OpenGL or Vulkan texture object
    - TextureSet: a collection of texture object
    - TextureUnitSetup: a TMU configuration for pipeline texturing
    - Set: a collection of renderable objects (any type in renderable hierarchy)
  -->
  <xs:element name="Render">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Object3D">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Properties" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:attribute name="cast_shadow" type="xs:boolean" />
            <xs:attribute name="is_mirror" type="xs:boolean" />
            <xs:attribute name="transparent" type="xs:boolean" />
            <xs:attribute name="receive_shadow" type="xs:boolean" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TextureObject">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" />
      <xs:attribute name="filter" type="xs:string" />
      <xs:attribute name="mode" type="xs:string" />
      <xs:attribute name="transparency" type="xs:float" />
    </xs:complexType>
  </xs:element>
  <xs:element name="TextureSet">
      <xs:complexType>
          <xs:sequence>
            <xs:element ref="TextureObject" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
          <xs:attribute name="name" type="xs:string" />
      </xs:complexType>
  </xs:element>
  <xs:element name="TextureUnitSetup">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Map" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute ref="TextureUnit"/>
            <xs:attribute name="texname" type="xs:string" />
            <xs:attribute name="enable" type="xs:boolean" />
            <xs:attribute ref="TextureFunction"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Set">
      <xs:complexType>
          <xs:sequence>
              <xs:element ref="Object3D" minOccurs="0" maxOccurs="1" />
              <xs:element name="Child" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                      <xs:attribute name="name" type="xs:string" />
                  </xs:complexType>
              </xs:element>
          </xs:sequence>
          <xs:attribute name="name" type="xs:string" />
      </xs:complexType>
  </xs:element>
  <xs:element name="ParticleManager">
    <xs:complexType>
       <xs:sequence>
           <xs:element name="Particle" minOccurs="0" maxOccurs="unbounded">
               <xs:complexType>
                   <xs:sequence>
                     <xs:element name="FadeFactors" minOccurs="0" maxOccurs="1">
                         <xs:complexType>
                             <xs:attribute name="x" type="xs:float"/>
                             <xs:attribute name="y" type="xs:float"/>
                             <xs:attribute name="z" type="xs:float"/>
                             <xs:attribute name="h" type="xs:float"/>   
                         </xs:complexType>
                     </xs:element>
                     <xs:element name="Sprite" minOccurs="0" maxOccurs="1">
                         <xs:complexType>
                             <xs:attribute name="set" type="xs:string" />
                             <xs:attribute name="texname" type="xs:string" />
                         </xs:complexType>
                     </xs:element>
                   </xs:sequence>
                   <xs:attribute name="name" type="xs:string" />
                   <xs:attribute name="systemSize" type="xs:integer" />
                   <xs:attribute name="revive" type="xs:boolean" />
                   <xs:attribute name="type" type="xs:string" />
                   <xs:attribute name="mode" type="xs:string" />
                   <xs:attribute name="pointSize" type="xs:float" />
                   <xs:attribute name="sprite" type="xs:boolean" />
                   <xs:attribute name="model" type="xs:string" />
                   <xs:attribute name="scaleFactor" type="xs:float" />
               </xs:complexType>
           </xs:element>
       </xs:sequence>
       <xs:attribute name="name" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Shader">
    <xs:complexType>
      <xs:all>
        <xs:element name="Color" minOccurs="0" type="color"/>
        <xs:element ref="Material" minOccurs="0" />
        <xs:element ref="TextureUnitSetup" minOccurs="0" />
      </xs:all>
      <xs:attribute name="name" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Material">
    <xs:complexType>
      <xs:all>
        <xs:element name="Ambient" minOccurs="0" type="color" />
        <xs:element name="Diffuse" minOccurs="0" type="color" />
        <xs:element name="Specular" minOccurs="0" type="color" />
        <xs:element name="Shininess" minOccurs="0">
          <xs:complexType>
            <xs:attribute name="exp" type="xs:float" />
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="Action">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TimeFunction" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="type" type="xs:string" />
            <xs:attribute name="a0" type="xs:float" />
            <xs:attribute name="a1" type="xs:float" />
            <xs:attribute name="a2" type="xs:float" />
            <xs:attribute name="a3" type="xs:float" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="action" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Light">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Position" minOccurs="0" maxOccurs="1" type="coord" />
        <xs:element name="Direction" minOccurs="0" maxOccurs="1" type="coord" />
        <xs:element ref="Material" minOccurs="0" maxOccurs="1" />
        <xs:element name="Spot" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Attenuation" minOccurs="0" maxOccurs="1" type="coord" />
            </xs:sequence>
            <xs:attribute name="treshold" type="xs:float" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Glow" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:attribute name="set" type="xs:string" />
            <xs:attribute name="size" type="xs:float" />
            <xs:attribute name="texname" type="xs:string" />
          </xs:complexType>
        </xs:element>
          <xs:element name="Flare" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                  <xs:attribute name="set" type="xs:string" />
                  <xs:attribute name="size" type="xs:float" />
                  <xs:attribute name="texname" type="xs:string" />
              </xs:complexType>
          </xs:element> 
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" />
      <xs:attribute name="active" type="xs:string" />
      <xs:attribute name="volumesize" type="xs:float" />
    </xs:complexType>
  </xs:element>
  <xs:element name="RenderingProperties">
    <xs:complexType>
      <xs:attribute name="texturing" type="xs:boolean" />
      <xs:attribute name="lighting" type="xs:boolean" />
      <xs:attribute name="blending" type="xs:boolean" />
      <xs:attribute name="wireframe" type="xs:boolean" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Knot">
    <xs:complexType>
      <xs:attribute name="x" type="xs:float" />
      <xs:attribute name="y" type="xs:float" />
      <xs:attribute name="z" type="xs:float" />
      <xs:attribute name="h" type="xs:float" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Object">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewModifier">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="Action" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="object" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="LightModifier">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="Action" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="light" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Object3DInstance">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="Shader" minOccurs="0" maxOccurs="1" />
            <xs:element ref="Object3D" minOccurs="0" maxOccurs="1" />
            <xs:element ref="RenderingProperties" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="reference" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Lod">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="Level" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="depth" type="xs:float" />
                    <xs:attribute name="reference" type="xs:string" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Geometry">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="RenderingModel" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="front_geometry" type="xs:boolean" />
                    <xs:attribute name="back_geometry" type="xs:boolean" />
                    <xs:attribute name="normals" type="xs:boolean" />
                    <xs:attribute name="tangents" type="xs:boolean" />
                    <xs:attribute name="texture" type="xs:boolean" />
                    <xs:attribute name="weights" type="xs:boolean" />
                    <xs:attribute name="colors" type="xs:boolean" />
                    <xs:attribute name="fog" type="xs:boolean" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TextureSet" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="ParticleManager" minOccurs="0" maxOccurs="unbounded"/> 
        <xs:element ref="Set" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="Shader" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="Light" minOccurs="0" maxOccurs="unbounded" /> 
        <xs:element ref="ViewModifier" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="LightModifier" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="Object3DInstance" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="Lod" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="Update" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="Geometry" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element ref="Shader" minOccurs="0" maxOccurs="unbounded" />
              <xs:element ref="Object3D" minOccurs="0" maxOccurs="unbounded" />
              <xs:element ref="RenderingProperties" minOccurs="0" maxOccurs="unbounded" />
              <xs:element name="ViewPoint" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="EyePosition" minOccurs="0" maxOccurs="1" type="coord" />
                    <xs:element name="TargetPosition" minOccurs="0" maxOccurs="1" type="coord" />
                    <xs:element name="ViewPath" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="EyePath" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element ref="Knot" minOccurs="0" maxOccurs="unbounded" />
                              </xs:sequence>
                              <xs:attribute name="name" type="xs:string" />
                              <xs:attribute name="model" type="xs:string" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="TargetPath" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element ref="Knot" minOccurs="0" maxOccurs="unbounded" />
                              </xs:sequence>
                              <xs:attribute name="name" type="xs:string" />
                              <xs:attribute name="model" type="xs:string" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="left" type="xs:string" />
                  <xs:attribute name="right" type="xs:string" />
                  <xs:attribute name="bottom" type="xs:string" />
                  <xs:attribute name="top" type="xs:string" />
                  <xs:attribute name="near" type="xs:string" />
                  <xs:attribute name="far" type="xs:string" />
                  <xs:attribute name="model" type="xs:string" />
				          <xs:attribute name="tmin" type="xs:float" />
				          <xs:attribute name="tmax" type="xs:float" />
				          <xs:attribute name="path" type="xs:string" />
				          <xs:attribute name="continus" type="xs:string" />
				          <xs:attribute name="loop" type="xs:string" />
                </xs:complexType>
              </xs:element>
              <xs:element name="Scene" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="Light" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="Object" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="Mirror" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Normal" minOccurs="0" maxOccurs="1" type="coord" />
                          <xs:element name="Point" minOccurs="0" maxOccurs="1" type="coord" />
                          <xs:element ref="Object" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" />
    </xs:complexType>
  </xs:element>
</xs:schema>